{% extends 'nav_bar.html' %}

{% block content %}
<div class="main_container">
  <!-- Resume Preview Section -->
  <div class="card">
    <div class="resume_data">
      <!-- Header: Personal Info -->
      <header class="Resume_Data_header">
        <h2>Enter name</h2>
        <p class="detail_header">
          <b>Phone|Email|Address</b>
        </p>
      </header>
      <div class="Resume_Data_body">
        <!-- Professional Summary -->
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic veniam
          quae consequatur itaque molestias est in adipisci, ullam ipsam.
        </p>
        <br />
        <!-- Skills Section -->
        <h4>Skills</h4>
        <hr />
        <ul>
          <li>Java</li>
          <li>python</li>
          <li>Shell</li>
          <li>Javascript</li>
        </ul>
        <!-- Projects Section -->
        <div class="project_container">
          <p><b>Projects</b></p>
          <hr />
          <b>Project name</b><br />
          <p>Start Date - End Date</p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <p>
          <b>Project name</b><br />
          <p>Start Date - End Date</p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <br />
        <!-- Work History Section -->
        <p><b>Work history</b></p>
        <hr />
        <div class="work_history_continer">
          <span>
            <b> Company </b>
            <span>date</span>
          </span>
          <p>Description</p>
          <ul>
            <li>role</li>
            <li>role</li>
          </ul>
        </div>
        <div class="work_history_continer">
          <span>
            <b> Company </b>
            <span>date</span>
          </span>
          <p>Description</p>
          <ul>
            <li>role</li>
            <li>role</li>
          </ul>
        </div>
        <!-- Footer Links -->
        <div class="link_body">
          <span><a href="">link1</a></span> |
          <span><a href="">link1</a></span> |
          <span><a href="">link1</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="data_form">
    <form action="" method="post">
      <div class="inside_div_data_form">
        <b style="font-family: 'Courier New', Courier">
          Enter Labels <br /><br />
          <input placeholder="Enter Name" class="input-style" type="text" />
          <br /><br />
          <input placeholder="Enter Email" class="input-style" type="email" />
          <br /><br />
          <input placeholder="Enter Phone" class="input-style" type="number" />
          <br /><br />
          <textarea
            name=""
            id="text_style"
            placeholder="Enter Address"
          ></textarea>
          <br /><br />
          <button id="right_submit_btn_id">
            <span class="span-mother">
              <span>E</span>
              <span>n</span>
              <span>t</span>
              <span>e</span>
              <span>r</span>
            </span>
            <span class="span-mother2">
              <span>E</span>
              <span>n</span>
              <span>t</span>
              <span>e</span>
              <span>r</span>
            </span>
          </button>
        </b>
      </div>
    </form>
  </div>
</div>
{% endblock %}
