<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Templates</title>

  <!-- Typography & Styles -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="Template.css" />
</head>

<body>
  <div class="main_container">
    <!-- Resume Preview Section -->
    <div class="card">
      <div class="resume_data">
        
        <!-- Header: Personal Info -->
        <header class="Resume_Data_header">
          <h2>Enter name</h2>
          <p class="detail_header">
            <b>Phone|Email|Address</b>
          </p>
        </header>

        <div class="Resume_Data_body">
          <!-- Professional Summary -->
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic veniam
            quae consequatur itaque molestias est in adipisci, ullam ipsam.
          </p>
          <br />

          <!-- Skills Section -->
          <h4>Skills</h4>
          <hr />
          <ul>
            <li>Java</li>
            <li>python</li>
            <li>Shell</li>
            <li>Javascript</li>
          </ul>

          <!-- Projects Section -->
          <div class="project_container">
            <p><b>Projects</b></p>
            <hr />
            <b>Project name</b><br />
            <p>Start Date - End Date</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </div>

          <p>
            <b>Project name</b><br />
            <p>Start Date - End Date</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <br />

          <!-- Work History Section -->
          <p><b>Work history</b></p>
          <hr />
          <div class="work_history_continer">
            <span>
              <b> Company </b>
              <span>date</span>
            </span>
            <p>Description</p>
            <ul>
              <li>role</li>
              <li>role</li>
            </ul>
          </div>

          <div class="work_history_continer">
            <span>
              <b> Company </b>
              <span>date</span>
            </span>
            <p>Description</p>
            <ul>
              <li>role</li>
              <li>role</li>
            </ul>
          </div>

          <!-- Footer Links -->
          <div class="link_body">
            <span><a href="">link1</a></span> |
            <span><a href="">link1</a></span> |
            <span><a href="">link1</a></span>
          </div>
        </div>
      </div>
    </div>

    <!-- User Input Form Section -->
    <div class="data_form">
      <!-- Form fields will be rendered here -->
    </div>
  </div>

  <!-- External Scripts (jQuery, Popper, Bootstrap) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpb5zoSMXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>